# Python virtual environment
venv/
ENV/
env/

# Environment secrets
.env

# SQLite Database
*.db
*.sqlite3

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# IDE & Editor files
.vscode/
.idea/
